.jumbotron {
  background-color: green;
  color: yellow;
  margin-top: 40px;
  margin-top: 50px;
  margin-bottom: 0px; }

.footer {
  padding: 10px 10px 10px 10px;
  background-color: red;
  margin-bottom: 0px;
  margin-top: 10px;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 0px; }

.footer-class {
  padding-right: 10px; }

a {
  text-decoration: none; }

.card-subli {
  flex: 1 200px;
  margin-top: 10px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.icon-class {
  padding-right: 10px;
  color: green; }

.tab-content {
  padding-top: 14px; }
