@amarillo: #ffff00;
@verde: #0dd90d;
@rojo: #f20a0a;

.margenes(@top: 0px, @bottom:0px){
  margin-top: @top;
  margin-bottom: @bottom; 
}

.jumbotron {
  background-color: @verde;
  color: @amarillo;
  .margenes(50px, 0px);
}

.footer {
  padding: 10px 10px 10px 10px;
  background-color: @rojo;
  margin-bottom: 0px;
  margin-top: 10px;
  color: #fff;
 .margenes(10px, 0px);
 }

.footer-class {
  padding-right: 10px; }

a {
  text-decoration: none; }

.card-subli {
  flex: 1 200px;
  .margenes(50px, 0px);
  }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.icon-class {
  padding-right: 10px;
  color: green; }

.tab-content {
  padding-top: 14px; }
